Hi <%= @contact.first_name%> <%= @contact.last_name%>

This is a test email for the Feedback Email

<%= @user.first_name%> <%= @user.last_name%> wants you to give them feedback on the assessment: <%= @assessment_name%>

Click the following link to give feedback
<%= @feedback_link_url %>

Thanks, 
Launch Tools team