Hi <%= @invitation.first_name%>,

You have been invited to join the <%= @group.name %> LAUNCH Tools Group Site.

If you would like to accept this invitation, please click the following link to create an account:
<%= @sign_up_link %>

Sincerely,
The Launch Tools team