Hi <%= @user.first_name%>,

You have been invited to join the <%= @group.name %> LAUNCH Tools Group Site. If you would like to join this group, please login to your dashboard to accept their invitation.

Sincerely,
The Launch Tools team