%li.assessment{ :id => "assessment_#{assessment.id}", :class => "ajax"}
  = link_to assessment.title, new_assessment_assessment_take_path(assessment), :title => "Click to View a Description of this Assessment"