%tr{ :class => cycle("odd", "even")}
  %td= group_invitation.group.name
  %td= group_invitation.group.description.summarize(13)
  %td
    = link_to 'Accept', accept_group_invitation_path(group_invitation.group, group_invitation)
    |
    = link_to 'Reject', reject_group_invitation_path(group_invitation.group, group_invitation), :confirm => 'Are you sure?'