%li#no_assessments
  - if @assessments.empty?
    %p Currently there are not any assessments available for purchase. Please check back later.
  - else
    %p You currently have not purchased any assessments. Buy a new assessment using the menu to the left.