%h3 Match Columns

%p
This is a preview of your csv file - please pick which columns you would like to use for the First name, Last name, and the email of the members to invite. The Role column is optional - if the role isn't set, it defaults to the lowest role.

%br
%br

= render :partial => 'map_fields/map_fields'